/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 30, 2015, 11:36:56 AM
    Author     : Dong Yubo
*/

//Qlearning grid world
.direction-button {
    -fx-background-radius: 10px;

}

.area-title-label{
    
}

.algo-setting-label{
    
}

.algo-setting-field{
    
}

.play-pause-button {
    -fx-background-radius: 0px;
    -fx-border-image-width: 0px;
    -fx-background-insets: 0px;
    -fx-background-color:transparent;
}

.result-label{
    
}

//Qlearning detail pane
.detail-time-label{
    -fx-font-size: 20px;
}

//analysis